fbody > [role="complementary"]{padding-top: 300px;}
.itempage{}
.header{
 background-image: url(https://wallpapercave.com/wp/kGj2k4p.jpg);
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}
.header, .overlay{
 height: 50vh;
 width: -webkit-fill-available;
}
.overlay font {
    font-size: 10vh;
    color: white;
}
.overlay {
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.5);
}
.imgitem{
    padding: 15px 0;
}
.imgitem img{
    border-radius: 30px;
}
.hblock{
/* flex: 0 0 100%;
 max-width: 100%;*/
}

.nblock{}
.rblock{
    max-height: 0;
}
 font{
text-shadow: -2px 4px 3px rgb(101, 101, 101);
}
.footer, .title, .post_item, .socal, .shoplist, [role="complementary"]{
 margin-top: 30px;
}
.title, .post_item, .socal, .shoplist {
    background: white;
    padding: 30px 200px;

}



.title, .post_item, .socal, .shoplist, .listbuy, .left-menu, .button{
 border-radius: 5px;

}

.shoplist{
 padding: 0px 0px;
}




.title{
 padding: 10px 20px;
 position: relative;
 border: solid 1px gray;
}


.listbuy {
    color: black;
   /* margin: 20px; */
}

.listbuy > .catalog-item__price-span {
    background-color: black;
}
.ispay{
 width: 30px;
}
.ispay > img{
    width: inherit;
}
.listbuy > span{
   margin-left: 10px;
}





 .post, .posts{
    font-family: 'Roboto',Tahoma;
    font-size: 18px;

 }
 .post a, .posts a {
    color: #868686;
    font-size: 15px;
 }

  .post a:hover, .posts a:hover {
    color: #403f3f;
    
 }
 a h2 ,a .desc{
    color: #212529;
 }

 .auther,time{
    color: #6d6d6d;
 }
.post .img_fild:first-child{
    padding: 0;
    margin:  0 -200px;
    width: inherit;
}

.g_menu{
   display: none;
}



@media (max-width: 991px){

.title, .post_item, .socal, .shoplist {
    background: white;
    padding: 30px 50px;

}
.post .img_fild:first-child{
    padding: 0;
    margin:  0 -50px;
    width: inherit;
}

 .rblock{
  max-height: 100%;
  max-width: 100%;
  flex: 100%;
 }
  .mblock{
  max-width: 100%;
  flex: 100%;
 }
   .hblock{
  max-width: 100%;
  flex: 100%;
 }
 .ctg{
    display: none;
 }



}
.user_info_top {
    width: 100%;
    flex-flow: column;
    justify-content: center;
}

.user_avatar{
    width: 100px;
    height: 100px;
}
.user_avatar img{
    width: inherit;
}

.user_reating{
    position: relative;
}
.user_reating span{
    background: #0008ff14;
    padding: 5px;
    border-radius: 5px; 
    color: #1ac121;
}
.user_name{
    display: flex;
    justify-content: center;
    align-items: baseline;
    

}
.profile_card a{
    color:#212529;
}
.sobaka_sutulaya{
   color: #a7a7a7; 
}
}
.user_buttons a{
    background: #0008ff14;
    padding: 5px;
    margin: 10px;
    border-radius: 5px; 
}
.notif {
    position: relative;
    border-radius: 15px;
    bottom: 10px;
    right: 5px;
    background: #328ce8;
    padding: 5px;
    color: white !important;
    margin-left: 5px;
    font-size: 12px;
    text-align: center;
}
.user_buttons {
}

.user_nav a{
    display: block;
    text-align: center;
    border-radius: 5px; 
    line-height: 50px;
    min-height: 50px;


}
.user_date{
    font-size: 14px;
    color: #949494;
}
.user_nav a:before{
    content: '';
    display: block;
    position: absolute;
    background: #f0f0f0;
    left: 15px;
    width: calc(100% - 30px);
    height: 1px;
}
.sort{
padding: 15px 0;
}

.sort span{
    margin-right: 20px;
    padding: 20px;
}
@media (max-width: 991px){
 .overlay font {
     font-size: 7vh;
 
 }

 .navbar{
    background: #203c4a;
    padding: .2rem 10rem!important;
}

}
@media (max-width: 500px){
 .itempage {
    padding: 0;
}

[role="main"] {
    margin: 0;
    overflow: hidden;
}
}

@media (max-width: 400px){
 .overlay font {
     font-size: 6vh;
 
 }
 .title, .post_item, .socal, .shoplist {
    background: white;
    padding: 30px 15px;

}
}
@media (max-width: 992px){
    .img_fild{
    padding: 0;
    margin:  0 -200px;
    width: 800px;
}
}